/* Variables */
:root {
  --color-primary: #1db954;
  --color-background: #3e3e3e;
  --color-surface: #282828;
  --color-text: #ffffff;
  --color-text-secondary: #a8a8a8;
  --color-dark: #171717;
}

/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}

body {
  background-color: var(--color-dark);
  color: var(--color-text);
}

/* Contenedor principal */
.app-container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 280px 1fr;
  grid-template-rows: 1fr 90px;
  position: fixed;
  top: 0;
  left: 0;
}

/* Barra lateral */
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-dark);
  z-index: 1;
}

.window-controls {
  display: flex;
  gap: 8px;
  padding: 12px;
}

.control-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.control-dot:nth-child(1) {
  background: #ff5f57;
}

.control-dot:nth-child(2) {
  background: #ffbd2e;
}

.control-dot:nth-child(3) {
  background: #28c940;
}

.filtros-container {
  background-color: var(--color-background);
  padding: 8px;
  border-radius: 8px;
  color: var(--color-text-secondary);
  font-size: 14px;
  margin: 8px;
}

.filtros-list li {
  cursor: pointer;
  padding: 8px;
  transition: background-color 0.3s ease;
  list-style-type: none;
}

.filtros-list li:hover {
  color: var(--color-text);
}

.currentMusic {
  height: 286px;
  background: var(--color-background);
}

/* Contenido principal */
.main-content {
  background-color: var(--color-background);
  z-index: 2;
  box-shadow: -4px 0 10px black;
  height: 98%;
}

.main-content-list {
  box-shadow: 0px -5px 100px black;
  height: 87%;
  background: var(--color-surface);
}

.songs-header {
  display: grid;
  grid-template-columns: 55px 1fr 1fr 70px 261px;
  border-bottom: 1px solid var(--color-background);
  padding: 16px 16px;
  gap: 18px;
  height: 8%;
  margin: 0px 25px 0px 25px
}

.songs-header span {
  color: var(--color-text-secondary);
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* Reproductor */
.player {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  background-color: var(--color-background);
  box-shadow: 0px 0px 25px black;
}

.player-content {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  gap: 24px;
  padding: 20px;
}

.current-song {
  display: flex;
  align-items: center;
}

.currentMusic>.song-info {
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  flex-direction: column;
}

.current-song>.song-info {
  padding: 2px;
  display: flex;
  justify-content: center;
  gap: 4px;
  flex-direction: column;
}

#coverInfo {
  height: 260px;
  width: 260px;
}

.song-name {
  color: var(--color-text);
  font-size: 14px;
}

.artist-name {
  color: var(--color-text-secondary);
  font-size: 12px;
}

.song-name,
.artist-name,
.selected span {
  text-shadow: 3px 3px 0px black;
}

.center-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.player-controls {
  display: flex;
  align-items: center;
  gap: 24px;
}

#play-button-control {
  height: 36px;
  width: 36px;
}

.control-button {
  background: none;
  border: none;
  color: var(--color-text);
  cursor: pointer;
  font-size: 16px;
}

.control-button:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

.control-button.active {
  border-radius: 50%;
}

.play-button {
  font-size: 32px;
}

.play-button:hover {
  transform: scale(1.3);
}

.progress-container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
}

.time {
  color: var(--color-text);
  font-size: 12px;
  min-width: 35px;
}

.progress-bar {
  flex-grow: 1;
  height: 9px;
  background: var(--color-text-secondary);
  position: relative;
  cursor: pointer;
  border-radius: 5px;
  overflow: hidden;
}

.progress-bar::-webkit-progress-value {
  background-color: var(--color-dark);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.volume-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.volume-controls i {
  color: var(--color-text-secondary);
  font-size: 16px;
  cursor: pointer;
}

.volume-bar {
  width: 150px;
  height: 9px;
  background-color: var(--color-text-secondary);
  border-radius: 15px;
  position: relative;
  cursor: pointer;
}

.volume-bar-fill {
  height: 100%;
  background: var(--color-dark);
  border-radius: 2px;
  width: 50%;
}

/* Elementos de la lista de canciones */
.song-item {
  display: grid;
  grid-template-columns: 65px 1fr 1fr 82px 261px;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
  border-bottom: 1px solid var(--color-background);
  margin: 0px 16px 0px 16px;
}

.songs-header>span {
  font-size: 1.1rem;
}

.song-item:hover {
  background-color: var(--color-dark);
}

.song-item.selected {
  background-color: var(--color-background);
}

.song-item span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.play-icon,
.favorite-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.song-item .title,
.song-item .artist,
.song-item .duration {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.song-item .favorite-icon box-icon {
  cursor: pointer;
}

.play-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #1db954;
  opacity: 0;
  transition: opacity 0.8s ease;
}

.song-item:hover .play-icon {
  opacity: 1;
}

.song-item:hover {
  background-color: var(--color-dark);
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 5;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  animation: modal-animation 1s ease-in-out;
}

.modal-content {
  background-color: #f3f3f3;
  margin: auto;
  padding: 6px;
  border-radius: 15px;
  box-shadow: 0 0 10px var(--color-primary);
  width: 720px;
}

.modal-body {
  padding: 8px;
}

@keyframes modal-animation {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  50% {
    transform: scale(1.1);
    opacity: 1;
  }

  75% {
    transform: scale(0.85);
  }

  100% {
    transform: scale(1);
  }
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Formulario */
#addMusicForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  margin: 0 auto;
}

#addMusicForm input,
#addMusicForm select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#addMusicForm>label {
  font-weight: bold;
  margin-bottom: 6px;
}

.error-message {
  color: red;
}

/* Otros estilos */
label {
  color: var(--color-dark);
}

h1 {
  color: var(--color-text);
  margin-bottom: 32px;
  font-size: 32px;
  font-weight: bold;
}

.button-container {
  display: flex;
  gap: 8px;
}

.add-button {
  display: contents;
}

.add-button>box-icon:hover {
  transform: scale(1.2);
}

#boton-close {
  transform: scale(1.5);
}

.top-bar {
  height: 13%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 24px;
}

.search-container {
  position: relative;
}

.search-container .search-bar {
  padding-left: 30px;
  width: 180px;
  height: 25px;
}

.search-container box-icon {
  position: absolute;
  transform: translate(2px, 1px);
}

.search-container>h1 {
  margin: 4px 0;
}

.search-bar {
  padding: 2px 16px;
  border-radius: 20px;
  border: none;
  background-color: var(--color-text);
  color: var(--color-text-secondary);
  font-size: 14px;
}

#user {
  display: flex;
  align-items: center;
}

#imgUser {
  height: 40px;
}

.userMargin {
  margin: 8px;
}

.pauseAdd {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.user-controls {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.pauseAdd>button {
  width: 88px;
}

.pause-button,
.upload-button {
  padding: 8px 24px;
  border-radius: 20px;
  border: none;
  background-color: var(--color-primary);
  color: var(--color-text);
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}

.pause-button:hover,
.upload-button:hover,
#add-button>box-icon:hover {
  transform: scale(1.2);
  transition: transform 0.6s ease;
}

.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-dark);
  font-weight: bold;
}

.scrollY {
  overflow-y: auto;
  padding: 10px;
  height: 93%;
}

.scrollY::-webkit-scrollbar {
  width: 4px;
}

.scrollY::-webkit-scrollbar-track {
  background: var(--color-dark);
}

.scrollY::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 4px;
}

#musicFile,
#coverImage {
  color: #f3f3f3;
}

/* Media queries */
@media (min-width: 367px) and (max-width: 720px) {
  .app-container {
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 100%;
  }

  .sidebar {
    width: 100%;
    height: 43%;
  }

  .main-content {
    width: 100%;
    height: 57%;
  }

  .main-content-list {
    height: 100%;
  }

  .player {
    height: 10%;
  }

  .song-info {
    padding: 4px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }

  .top-bar {
    display: none;
  }

  .user-controls {
    display: none;
  }

  .volume-controls {
    display: none;
  }

  .add-button {
    display: none;
  }

  .center-controls {
    gap: 0;
  }

  .player-content {
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 0;
  }

  .song-item.selected {
    background-color: var(--color-background);
  }

  .scrollY {
    padding: 0;
    height: 88%;
  }

  .songs-header {
    grid-template-columns: 10px 1fr 1fr 70px 50px;
    height: 12%;
  }

  .song-item {
    grid-template-columns: 28px 1fr 1fr 80px 50px;
  }
}

@media (max-width: 360px) {
  .app-container {
    display: flex;
    flex-direction: column;
    height: 75%;
    width: 100%;
  }

  .sidebar {
    width: 100%;
    height: 61%;
  }

  .main-content {
    width: 100%;
    height: 54%;
  }

  .main-content-list {
    height: 100%;
  }

  .player {
    height: 14%;
    box-shadow: none;
  }

  .song-info {
    padding: 4px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }

  #coverInfo {
    height: 200px;
    width: 200px;
  }

  .top-bar {
    display: none;
  }

  .user-controls {
    display: none;
  }

  .volume-controls {
    display: none;
  }

  .add-button {
    display: none;
  }

  .center-controls {
    gap: 0;
  }

  .player-content {
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 0;
  }

  .song-item.selected {
    background-color: var(--color-background);
  }

  .scrollY {
    padding: 0;
    height: 80%;
  }

  .songs-header {
    grid-template-columns: 10px 1fr 1fr 70px 50px;
    height: 20%;
  }

  .song-item {
    grid-template-columns: 28px 1fr 1fr 80px 50px
  }
}
